@import url("reset.css");
/*Style Sheet For K.I.D.S. Church Contact Attendance*/
/*Version .01*/
/*Author: Nick Radford*/
/*Global styles---------------------------------------------------------------*/
body{
	margin: 0;
	padding: 0;
	background: #0F1414 url(images/body_bg.jpg) repeat;
	font-weight: normal;
	font-style: italic;
	font-size: 76%;
	font-family: helvetica, arial, sans-serif;
}
#container{  
  background: #fff; /*#dde7e7 #E2E9E2*/
	margin: 1px;
	padding: 0;
  width: 1000px;
	height: auto;
}
.left{
	float: left;
}
a:link, a:visited{
	display: block;
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
	font-family: georgia, serif;
	text-decoration: underline;
	font-style: italic;
	}
a:hover, a:active{
	text-decoration: none;
	font-style: italic;
	color: #000;
	}
#header{
	width: 1000px;
	height: 45px;
	margin: 0;
	padding: 0;
	background: #35739B url(images/header_bg.png1) repeat-x;
}
#header ul{
	display: inline;
	list-style: none;
}
#header li{
	width: 150px;
	height: 45px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #50ADCD /*url(images/tab.png)*/;
	float: left;
}	
#header ul li.currentPage {
	font-style: italic;
	font-weight: bold;
	background: #35739B /*url(images/tab2.png)*/;
}
#header a:link, #header a:visited{
	color: #E2E9E2;
	font-size: 1.5em;
	font-weight: bold;
	font-family: georgia, serif;
	text-decoration: none;
	font-style: italic
}
#header a:hover, #header a:active{
	text-decoration: none;
	font-style: italic;
	color: #fff;
}
#col1{
	min-width: 370px;
	float: left;
	margin-right: 50px;
}
#col2{
	min-width: 370px;
	left: left;
}

h1{
	margin: 0;
	padding: 25px 0 15px 0;
  color: #0F1414;
	letter-spacing: .1em;
	font-size: 3em;
	font-weight: bold;
	font-family: "apple chancery", georgia, helvetica, "times new roman", serif;
}
h2, h3{
  font-size: 1.5em;
	font-family: georgia, helvetica, "times new roman", serif;
  color: #0F1414;
  font-style: italic;
	font-weight: bold;
}
h5{
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
.message{
	color: #5b1110;
}
.show{
	display: block;
	visibility: visible;
}
.hide{
	display: none;
	visibility: hidden;
}
#content{
  background: transparent;
	margin: 0 5px;
	min-height: 700px;
	padding: 0;
	text-align: left;
	font-size: 1em;
  line-height: 21px;
  color: #000;
}
.cal{
	width: 16px;
	height: 16px;
	border: none;
	margin: 0 0 0 15px;
	float: left;
}
.phone{
	float: left;
	width: 30px;
	text-align: center;
}
.phone_end{
	clear: right;
	width: 30px;
	text-align: center;
}
caption{
	text-align: left;
	margin: 0 0 10px 0;
}
table{
	overflow: scroll;
}
th{
	background: #4C4E4E;
	color: #fff;
	border: 1px solid #000;
	padding: 3px;
	vertical-align: bottom;
}
#contact tr:hover{cursor: pointer; background: #cfcfcf;}
td{
	/*border: 1px solid #000;*/
	padding: 2px 5px;
	vertical-align: top;
	text-align: left;
}
#fname th{width: 1000px;}
.altrow{background: #DDE7E7;}

.total{
	background: #4C4E4E;
	color: #fff;
	font-weight: bold;
}
.row{
	clear: both;
	margin: 5px;
	padding: 7px 0;
}
label{
	float: left;
	width: 150px;
	text-align: right;
	padding: 0 5px 0 0;
	color: #333;
	font-weight: bold;
}
.date_label{
	text-align: left;
}
.form{
	float: left;
	width: 400px;
}
.form a{
	display: inline;
}
.form img{
	display: inline;
 }
.button{
	background: url(images/button.png) repeat;
	margin: 15px 0;
}
textarea{
	float: left;
	width: 350px;	
}