/*.sidebar-nav{
    padding: 9px 0;
}
*/

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#contacts-search, #teachers-search{
    width: 265px;
}

#data-date{
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding: 0 10px 0 0;
/*    width: 300px;*/
}

/*@media (max-width: 400px) {
    #data-date{
        text-align: left;
        background: blue;
        float: left;
    }   
}*/
    
.check-in-notes{
    width: 250px;
    height: 20px;
}

/*#contacts-list-tbl{margin-top: 15px;}*/

#contacts-list-tbl tr{cursor: pointer;}

#button-row{margin: 20px 0 0 0;}

#button-row button{margin: 5px 0;}

#incident-textarea, #summary-textarea{
    width: 100%;
    max-width: 600px;
    height: 250px;
    padding: 8px;
}

select.error{border-color: #cd0a0a;}

/**
 * Bootstrap overrides
*/
.navbar .nav>li>a {
    padding: 10px 8px !important;
}

ul.typeahead li a{
    width: 236px;
    height: 40px;
    line-height: 40px;
}

h2, h3, h4, h5, h6{
    margin: 2px 0;
}

.typeahead{margin-top: 0px;}

/*.table-striped tfoot td{
    color: #fff;
    background: ;
    font-weight: bold;
    padding: 5px;
}
*/

/**
 *ContentEditable styles
*/
[contenteditable]:hover:after {
  content: ' click to edit';
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
  color: #ccc;
  .text-stroke(0);
}

[contenteditable]:hover, [contenteditable]:focus {
  background: #f9f9f9;
}

[contenteditable]:focus {
/*  padding: 5px;*/
}

[contenteditable]:focus:after {
  content: '';
}
/**
 *End ContentEditable styles
*/
