html, body, div, p, span, ol, ul, li,
form, label, table, tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}
table{
	width: 100%;
	border-collapse: collapse;
	vertical-align: top;
}
h1{padding: 0; margin: 0; font-size: 1.4em; display: inline;}
h2{
	font-size:  1.3em;
  font-weight: bold;
  margin: 10px 0;
}
a:link, a:visited{color: #2d3f6a;}
a:hover, a:active{color: #000;}
a:focus, a:active {outline: none;}

.IMKTG_message{color: #d22d03; background: #fff;}
body{
  font-family: verdana, arial, helvetica, sans-serif;
	font-size:100%;
	line-height:1.125em; /* 16×1.125=18 */
  background: #ccc repeat;
}
img{border: 0;}
#container{
	margin: 5px auto;
	padding: 0;
  width: 98%;
	min-width: 760px;
	background: #fff;
	font-size: 12px;
/*	border: 1px solid #fff;
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;*/
}
#content{
	background: #fff;
	padding: 0 10px;
	margin: 0px 0 0 0;
	min-height: 400px;
}
header{
/*	color: #003366;*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
/********************Rounded Corner Styles**************************/
.corner{display:block; /*width: 98%;*/ margin: 0 auto;}
.corner *{display: block; height: 1px; overflow: hidden; font-size: .01em; background: #fff}
.corner1{margin: 0 3px; padding: 0 1px; border-left:1px solid #ededed; border-right:1px solid #ededed; background:#f7f7f7}
.corner2{margin: 0 1px; padding: 0 1px; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; background:#f9f9f9}
.corner3{margin: 0 1px; border-left:1px solid #f9f9f9; border-right:1px solid #f9f9f9;}
.corner4{border-left:1px solid #ededed; border-right:1px solid #ededed}
.corner5{border-left:1px solid #f7f7f7; border-right:1px solid #f7f7f7}
/******************End Rounded Corner Styles************************/

/******************************Navigation Styles******************************/
.ui-default-state { padding: .5em 1em; cursor: pointer; }
#buttonBar { background-image: none; padding: 0; }
#buttonBar li, #buttonBar li a { float: left; margin: 0; padding: 0; list-style: none; text-decoration: none; }
#buttonBar li a  { padding: .5em 1em; border-width: 0; margin: 1px; text-decoration: none; display: block; }



nav{width: 100%;
	height: 30px;
/*	background: #5c5662;*/
/*	background: url('eggplant/images/ui-bg_gloss-wave_30_3d3644_500x100.png');*/
	font-size: 1em;
	margin: 0 0 5px 0;
}
nav ul{list-style: none; display: inline; margin: 0; padding: 0;}
nav li{float: left; margin: 0; padding: 0; line-height: 20px;/* border-left: 1px solid #000;*/}
nav a{display: block; height: 20px; padding: 5px;}
nav a:link, nav a:visited{color: #fff; text-decoration: none;}
nav a:hover, nav a:active{color: #ccc; text-decoration: none; /*background: #285F90;*/}
nav li.currentPage a{/*background: #285F90;*/ color: #ccc;}
/***************************End Navigation Styles*****************************/

#LoginForm{
	background: #fff;
	border: 1px solid #000;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	text-align: center;
	margin: 35px auto;
	padding: 30px 15px 20px 15px;
	width: 350px;
	font-size: 12px;
}

.LoginInput{
	width: 175px;
	float: left;
}
.LoginButton input{
	margin: 15px 0 0 0;
	padding: 0 5px;
	font-size: 12px;
	height: 30px;
	line-height: 26px;
	text-align: center;
	background: #cccccc url(../images/button.gif) repeat;	
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.LoginLabel{
	float: left;
	width: 100px;
	text-align: left;
	line-height: 20px;
	margin: 0 5px 0 30px;
	font-weight: bold;
}
.LoginStatus{
	color: #fff;
	position: absolute;
	right: 10px;
	top: 7px;
}
.LoginStatus a{
	color: #fff;
	text-decoration: none;
}
.LoginStatus a:hover, .LoginStatus a:active{
	color: #fcfcfc;
	text-decoration: underline;
}

.row{
	clear: both;
	padding: 3px 0;
}
.data-input select{
	float: left;
	padding: 0;
	text-align: left;
	font-size: 12px;
	width: 255px;
}

.data-input textarea{
	height: 100px;
	width: 255px;
	font-size: 12px;
}

.data-input label{
	float: left;
	width: 140px;
	padding: 0;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
}

.data-input input{float: left;}
/*.data-input select{float: left; clear: right;}*/

.inputf{width: 250px;}
.phone-input{width: 30px;}
.left{float: left;}
#check-in{
	clear: both;
	width: 100%;
	margin: 20px 0 0 0;
}
#check-in-date{float: left; margin: 0 0 0 25px; font-size: 18px;}
#check-in th{text-align: left; font-weight: bold;}
.check-in-name{width: 15%;}
.check-in-time{width: 30%;}
.check-in-delete{width: 10%;}

.check-in-notes{display: none; width: 300px; height: 10px;}
/*.button{
	clear: both;
	float: left;
	margin: 15px 0;
}*/

.clearer{clear: both;}

/***************************Button Styles***************************/
.button{
	display: inline-block;
	width: auto;/*IE width fix*/
	overflow: visible;/*IE width fix*/
	margin: 15px 5px 0 0;
	padding: 0 5px;
	font-size: 12px;
	height: 30px;
	line-height: 26px;
	text-align: center;
	background: url("eggplant/images/ui-bg_highlight-soft_25_30273a_1x100.png") repeat-x 50% 50% #30273a;	
	border:1px #666 solid;
	-webkit-border-radius: 4px;	-moz-border-radius: 4px; border-radius: 4px;
	color:#fff;
	cursor:pointer;
	outline: #fff;
}

/*************************End Button Styles*************************/

#footer{
	clear: both;
	height: 25px;
	background: #fff;
}

.altrow{background-color: #eee;}

/*******************************Sortable Table Styles**************************/
table.tablesorter {
	background-color: #fff;
	margin: 0 0 8px 0;
	border: 1px solid #bbb;
	width: 100%;
	text-align: left;
	clear: both;
}
table.tablesorter thead tr th{
	background: #b6d7e5;
	border: 1px solid #bbb;
	border-top: none;
	padding: 4px;
	text-align: left;
	font-weight: bold
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td{
	color: #000;
	padding: 4px;
	border: 1px solid #bbb;
/*	background: #fff;*/
	vertical-align: middle;
}
table.tablesorter tbody tr.odd td{background: #eee;}
table.tablesorter thead tr .headerSortUp{
	background: #1b4765 url("../images/asc.gif") center right no-repeat;
	color: #fff;
/*	padding-right: 15px;*/
}
table.tablesorter thead tr .headerSortDown{
	background: #1b4765 url("../images/desc.gif") center right no-repeat;
	color: #fff;
/*	padding-right: 15px;*/
}
/*table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background: #4d6ca5;
	color: #fff;
}*/
table.tablesorter tbody tr.highlight td{background: #1b4765; color: #fff; cursor: pointer;}
table.tablesorter tfoot tr{background: #b6d7e5; cursor: text; border-top: 1px solid #000;}
table.tablesorter tfoot td{padding: 4px; font-weight: bold;}

#table-top{width: 100%; height: 30px;}
#pager{margin: 0 0 5px 5px; float: right;}
#pager img{position: relative; top: 4px; padding: 0 2px;}
.pagedisplay{width: 50px; text-align: center; font-weight: bold;}

/*****************************End Sortable Table Styles************************/

table.datatbl{width: 100%; margin: 0 0 10px 0;}
table.datatbl th{padding: 3px; text-align: left; font-weight: bold; background: #ccc;}
table.datatbl td{padding: 3px; cursor: pointer;}

#sortable{list-style-type: none; margin: 0; padding: 0; width: 100%;}
#sortable li{margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1em; font-weight: normal; color: #000; cursor: pointer;}
#sortable li span{position: absolute; /*margin-left: -1.3em;*/}

.clone_option select{margin: 0 0 0 10px; width: 97px !important;}

.error{color: #c9171c;}

/*********************************************jGrowl overides*********************************************/
.ui-widget-content{border: none;}
.ui-autocomplete{font-size: .8em;}
/*******************************************End jGrowl overides*******************************************/


/*********************************************jGrowl overides*********************************************/
div.jGrowl div.jGrowl-notification{min-height: 20px;}

#jGrowl .ui-state-highlight{
	border: 1px solid #555;
	background: #000;
	color: #fff; 
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
}
/*******************************************End jGrowl overides*******************************************/
